[Unit]
Description=HAProxy { instance.service }}
After=syslog.target network.target

[Service]
Environment="CONFIG={{ haproxy.conf }}/{{ instance.service }}/haproxy.cfg" "PIDFILE=/run/{{ instance.pid }}"
EnvironmentFile={{ haproxy.sysconf }}/{{ instance.pid }}
ExecStartPre={{ haproxy.opt }}/{{ instance.service }}/{{ instance.pid }} -f $CONFIG -c -q
ExecStart={{ haproxy.opt }}/{{ instance.service }}/{{ instance.pid }} -Ws -f $CONFIG -p $PIDFILE $OPTIONS
ExecReload={{ haproxy.opt }}/{{ instance.service }}/{{ instance.pid }} -f $CONFIG -c -q
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Type=notify

[Install]
WantedBy=multi-user.target
