[Unit]
Description=HAProxy {{ instance.service }}
After=syslog.target network.target

[Service]
Environment="CONFIG={{ haproxy.conf }}/{{ instance.service }}/haproxy.cfg" "PIDFILE=/run/{{ instance.service | lower }}"
EnvironmentFile={{ haproxy.sysconf }}/{{ instance.service | lower }}
ExecStartPre={{ haproxy.software }} -f $CONFIG -c -q
ExecStart={{ haproxy.software }} -Ws -f $CONFIG -p $PIDFILE $OPTIONS
ExecReload={{ haproxy.software }} -f $CONFIG -c -q
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Type=notify

[Install]
WantedBy=multi-user.target
